@mixin flex($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin card($padding-top, $padding-bottom) {
  flex-direction: column;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;

  background-color: rgb(30, 26, 26);
}

h1 {
  padding: 2rem;
  color: darkgray;
}


header {
  @include flex(center, _);
  width: 100%;
  height: 60px;
  position: fixed;
  scroll-behavior: smooth;
  background-color: rgb(10, 10, 22);

  .nav-header {
    @include flex(center, _);
    width: 65%;
  }

  .nav-language-buttons {
    @include flex(center, center);
    width: 35%;

    button {
      margin: 5px;
      border-radius: 20%;
    }

    button.selected-btn {
      border: solid 5px green;
    }

    button:hover {
      color: rgb(165, 165, 165);
      cursor: pointer;
    }
  }

  .nav-home {
    text-align: center;
    width: 50%
  }

  .nav-links {
    width: 50%;
      ul {
      @include flex(center, space-evenly);
    }
  }

  a {
    color: cornsilk;
    text-decoration: none;
    font-size: 20px;
  }

  a:hover {
    color: rgb(165, 165, 165);
    text-decoration: none;
    cursor: pointer;
  }
}

.home {
  @include flex(center, center);
  padding-top: 100px;

  img {
    width: 25%;
  }
}

.about-content {
  @include flex(center, center);
  @include card(300px, 400px);
  
  color: darkgray;

  section {
    height: 100%;
  }

  p {
    font-size: 30px;
  }
}
    
.skills-content {
  @include flex(center, center);
  @include card(75px, 400px);

  h2 {
    color: darkgray;
    padding-bottom: 50px;
  }

  section {
    @include flex(center, center);
    @include card(_, _);
  }

  img {
    height: 80px;
    padding: 10px;
  }
}

.portfolio-content {
  @include flex(center, center);
  @include card(75px, _);

  section {
    p {
      color:rgb(165, 165, 165);
      font-size: xx-large;
      height: 830px;
    }
  }
}

.nav-to-home-contact {
  @include flex(center, space-evenly);
  flex-direction: row;
  width: 100%;
}

.contact {
  @include flex(center, space-around);
  flex-direction: row;
  width: 65%;

  h1 {
    color: cornsilk;
  }

  nav {
    width: 20%;
  }
}

.contact-form {
  @include flex(center, _);
  @include card(300px, _);
  color: rgb(165, 165, 165);
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 200px;

    input {
      text-align: center;
      height: 50px;
    }

    textarea {
      text-align: center;
      height: 50px;
    }

    button {
      height: 50px;
    }
  }
}